@import '@/uview/theme.scss';
@import '@/uview/libs/css/color.scss';

/**间距 背景 圆角**/
$u-mp-10: 10rpx;
$u-mp-20: 20rpx;
$u-mp-30: 30rpx;
$u-mp-40: 40rpx;
$u-type-white: #fff;

$u-border-radius: 8rpx;
$u-border-radius-big: 16rpx;
$u-border-radius-all: 100%;

/* 字体大小 */
$u-font-01: 26rpx;
$u-font-02: 24rpx;
$u-font-03: 20rpx;
$u-font-1: 32rpx;
$u-font-2: 34rpx;
$u-font-3: 36rpx;

/* 边框颜色 */
$u-border-color-dark: #dcdfe6;
$u-border-color-disabled: #ebeef5;
$u-border-color-light: #e4e7ed;

/* 颜色 */
.u-type-primary-disabled-bg {
	background-color: $u-type-primary-disabled;
}
.u-type-warning-disabled-bg {
	background-color: $u-type-warning-disabled;
}
.u-type-success-disabled-bg {
	background-color: $u-type-success-disabled;
}
.u-type-error-disabled-bg {
	background-color: $u-type-error-disabled;
}
.u-type-info-disabled-bg {
	background-color: $u-type-info-disabled;
}
.u-type-white {
	color:$u-type-white !important;
}
.u-type-white-bg, .u-bg-fff {
	background-color: $u-type-white !important;
}
.u-bg-color {
	background-color: $u-bg-color!important;
}
.u-border-radius {
	border-radius: $u-border-radius;
}
.u-border-radius-big {
	border-radius: $u-border-radius-big;
}
.u-border-radius-all {
	border-radius: $u-border-radius-all;
}
